* {
  background-color: darkblue;
  justify-content: center;
  color: white;
  padding: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.input {
  background-color: white;
  color: black;
  display: block;
  width: 400px;
  justify-content: space-between;
  margin-top: 15px;
  height: 35px;
  padding: 10px;
}
